.calcButtons{
    font-size: 16px;
    margin-right: 4px;
    margin-top: 4px;
}
.number{
    width: 32px;
    
}
#zero{
    width: 95px;
}
#results{
    background-color: beige;
    height: 64px;
    font-size: 32px;
    width: 150px;
}
#divide,#minus{
    width: 32px;
}
#multiply,#plus{
    width:30px;
}